.btn {
  border: none;
  color: var(--white);
  background-color: var(--red);
  border-radius: 5px;
  padding: 15px 10px;
  width: 100%;
  font-weight: 300;
  color: var(--white);
  font-size: 15px;
  cursor: pointer;
  margin: 10px 0px 30px;
}

.btn:hover {
  background-color: var(--white);
  color: var(--veryDarkblue);
}
