.sideBar {
  background-color: var(--darkblue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  height: 60%;
}

.sideIcon {
  width: 20px;
}

.click {
  filter: brightness(5);
  width: 20px;
}

.sideIcon:hover {
  filter: invert(36%) sepia(52%) saturate(3841%) hue-rotate(338deg)
    brightness(107%) contrast(99%);
  cursor: pointer;
}

.logo {
  margin-bottom: 30px;
}

.userIcon {
  width: 30px;
  height: 30px;
}

.userIconBox {
  background: var(--white);
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.navIconBox {
  display: flex;
  flex-direction: column;
  gap: 40px;

  align-items: center;
}
